#gameContainer {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
}

.info-timer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  width: 100%;
}

.info {
  padding: 10px;
}

.stats-info {
  margin-left: 2px;
  margin-right: 12px;
  padding: 6px 12px;
  background-color: #f0f0f0;
  border-radius: 4px;
}

#timer {
  margin: 0 10px;
  padding: 0;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.game-over {
  font-weight: bold;
  text-align: center;
  height: 20px;
  line-height: 20px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}

.card {
  width: 80px;
  height: 120px;
  border: 2px solid darkgrey;
  border-radius: 8px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s;
}

.card.empty-card {
  border-color: transparent;
  background-color: #f0f0f0;
}

.card:hover {
  border-color: lightblue;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 8px;
}

.right-buttons {
  display: flex;
  gap: 10px;
}

button {
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

button:hover {
  background-color: #1976D2;
}

button:active {
  transform: translateY(1px);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  box-shadow: none;
}

button.add-cards,
button.hint {
  background-color: #d3d3d3;
  color: black;
}

button.add-cards:hover,
button.hint:hover {
  background-color: #b0b0b0;
}
